<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">
    <ui:define name="menu">
        <ui:include src="menu.xhtml"/>
    </ui:define>
    <ui:define  name="conteudo">
        <div class="col-sm-1"></div>
        <div class="col-sm-10"> 

            <p:dataTable  id="tabelaCarrinho"  value="#{carrinhodeCompraBean.listarProdutosCarrinho()}" var="carrinho" >
                <p:column style="width: 150px" >
                    <img src=" #{carrinho.produto.imagem}" style="max-height: 100 px; max-width: 100px;"/>
                </p:column>
                <p:column headerText="Produto" >
                    <h:form>
                        <p:commandLink actionListener="#{produtoBean.selecionarProduto(carrinho.produto)}">
                            <f:viewParam name="produto" value="#{produto}" />
                            #{carrinho.produto.nome}
                        </p:commandLink>
                    </h:form>
                </p:column>
                <p:column headerText="Valor"  style="width: 150px">
                    <p:outputLabel value="#{carrinho.produto.preco}">
                        <f:convertNumber pattern="R$ 00.00" />
                    </p:outputLabel>
                </p:column>
                <p:column headerText="Quantidade"  style="width: 250px">
                    <h:form>    
                        <h:inputHidden value="#{teste = carrinho.quantidade}" />
                        <p:spinner min="1" value="#{teste}" size="20" style="width: 240px">
                            <p:ajax update=":tabelaCarrinho :Total" listener="#{carrinhodeCompraBean.atualizarCarrinho(carrinho, teste)}"  />                               
                        </p:spinner>
                    </h:form>
                </p:column>
                <p:column id="SubTotal" headerText="SubTotal" style="width: 150px" >
                    <p:outputLabel value="#{carrinho.subTotal}">
                        <f:convertNumber pattern="R$ 0.00" />
                    </p:outputLabel>
                </p:column>
                <p:column  style="width: 50px">
                    <h:form>
                        <p:commandLink  update=":tabelaCarrinho :Total"  actionListener="#{carrinhodeCompraBean.removerProduto(carrinho)}"  >
                            <span class="glyphicon glyphicon-remove">
                            </span>
                        </p:commandLink>
                    </h:form>
                </p:column>  

            </p:dataTable>
            <div style="margin-left: 75%">
                <h:form id="Total">
                    Total: 
                    <p:outputLabel value=" #{carrinhodeCompraBean.valorTotal}">
                        <f:convertNumber pattern="R$ 0.00" />
                    </p:outputLabel>                               
                </h:form>                                                                                   
            </div>                       
        </div>
    </ui:define>
</ui:composition>
 