 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">

    <ui:define name="conteudo-titulo"> Pedidos</ui:define>
    <ui:define name="menu">
        <ui:include src="menu.xhtml"/>
    </ui:define>
    
</ui:composition>