<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"/> 
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>

                <title>Oliveira Games</title>
            </f:facet>
        </h:head>
        <h:body>




            <div class="container" style="left: 50%; margin-top: 150px; width: 350px" >
                <div class="card card-container" >
                    

                    <h:form>
                        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
                    </h:form>
                    <p id="profile-name" class="profile-name-card"></p>
                    <h:form>
                        <span id="reauth-email" class="reauth-email"></span>
                       <p:inputText id="login" style="width: 100%" class="span2" placeholder="Email" value="#{clienteBean.cliente.login}" required="true"  />
                        <p:password id="senha"  style="width: 100%" class="span2" placeholder="Senha" value="#{clienteBean.cliente.senha}"  label="Password 1" required="true" />
                        <h:commandButton value="Enviar" class="shopBtn btn-block" action="#{clienteBean.validarCliente()}" />
                    </h:form><!-- /form -->

                    <a href="./cadastrarUsuario.xhtml">Cadastrar</a>


                </div>
            </div> 

        </h:body>
    </f:view>
</html>