<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                >

     
        <div class="col-sm-2 sidenav">
            <ui:repeat   
                value="#{categoriaBean.listarCategoria()}" var="categoria" >
                <h:form>
                    <p:commandLink actionListener="#{produtoBean.filtrarCategoria(categoria)}">
                        #{categoria.nome}<br/>
                    </p:commandLink>
                </h:form>
            </ui:repeat>
        </div>


</ui:composition>