
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">

    <ui:define name="conteudo-titulo"> Pedidos</ui:define>
    <ui:define name="menu">
        <ui:include src="menu.xhtml"/>
    </ui:define>
    <ui:define name="conteudo">
        <div align="center" class="col-sm-4">
            <div  class="panel panel-default" style=" text-align: center; position:  relative; min-height: 370px; width: 350px">
                <img src="#{produtoBean.produtoSelecionado.imagem}" style="position: relative;max-width: 350px"/>
            </div>
        </div>
        <div class="col-sm-6 text-left"> 

            <h4 align="center" >#{produtoBean.produtoSelecionado.nome} </h4>
        </div>
        <div class=" panel panel-default col-sm-8 "> 
            <div class="panel  col-sm-6" style="text-align: center">
                <h3>Vendido Oliveira Games o melhor </h3>

                <p:outputLabel value="#{produtoBean.produtoSelecionado.preco}">

                    <f:convertNumber pattern="R$ 0.00" />
                </p:outputLabel>
                <h5><script type="text/javascript">
                    valor = parseInt(#{produtoBean.produtoSelecionado.preco})                    
                    </script></h5>
            </div>
            <div class="col-sm-6" style="text-align: center; height: 100px  "> 
                <h:form>
                    <p style="position: relative; top: 50px">
                    <h:commandButton action="#{carrinhodeCompraBean.adicionarProduto(produtoBean.produtoSelecionado)}" value="Adicionar no Carrinho" class="shopBtn btn-block"  style="height: 30px; width: 200px;"/>
                    </p>
                </h:form>
            </div>
        </div>
        <div class=" panel panel-default col-sm-8 " style="text-align: center; min-height: 120px" > 
            <h3>Calcular frete e prazo</h3>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                        <input type="text" class="form-control" placeholder="Search for..."/>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </ui:define>
     <ui:define name="conteudo-full">
        <h2 class="ofertas">Produtos em Oferta </h2>
        <hr/>
        <ui:repeat   value="#{produtoBean.listarProdutos()}" var="produto" >
            <div class="col-sm-3" style="justify-content: center;"> 

                <img src=" #{produto.imagem}" style="height: 200 px; max-width: 250px;"/>
                <p>
                <h:form>
                    <p:commandLink actionListener="#{produtoBean.selecionarProduto(produto)}">
                        <f:viewParam name="produto" value="#{produto}" />
                        #{produto.nome}
                    </p:commandLink>
                </h:form>
                </p>
                <p:outputLabel value="#{produto.preco}">

                    <f:convertNumber pattern="R$ 0.00" />
                </p:outputLabel>
                <h:form>

                </h:form>
            </div>
        </ui:repeat>

    </ui:define>
</ui:composition>        