
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">

    <ui:define name="menu">
        <ui:include src="menu.xhtml"/>
    </ui:define>

    <ui:define name="conteudo">
         <div class="well well-small">
                        <h3>Lista de produtos </h3>
                        <hr class="soften"/>
                        <div class="row-fluid">
                            <div id="newProductCar" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <ul class="thumbnails">
                                            
                                            <ui:repeat   value="#{produtoBean.produtos}" var="produto" >
                                                
                                                <div class="span5" style="justify-content: center;">
                                                    <img src=" #{produto.imagem}" style="height: 150px; max-width: 200px;"/>
                                                    <p>
                                                        <h:form>
                                                            <p:commandLink actionListener="#{produtoBean.selecionarProduto(produto)}">
                                                                <f:viewParam name="produto" value="#{produto}" />
                                                                #{produto.nome}
                                                            </p:commandLink>
                                                        </h:form>
                                                    </p>
                                                    <p:outputLabel value="#{produto.preco}">
                                                        <f:convertNumber pattern="R$ 0.00" />
                                                    </p:outputLabel>
                                                    <a class="shopBtn" href="#" title="adicionar ao carrinho"><span class="icon-plus"></span></a>
                                                    <h:form>
                                                    </h:form>
                                                </div>
                                                
                                            </ui:repeat>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#newProductCar" data-slide="prev">&lsaquo;</a>
                                <a class="right carousel-control" href="#newProductCar" data-slide="next">&rsaquo;</a>
                            </div>                 
                        </div>	

                    </div>

    </ui:define>
</ui:composition>