
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">

    <ui:define name="menu">
        <ui:include src="menu.xhtml"/>
    </ui:define>

    <ui:define name="conteudo">
        <ui:repeat   value="#{produtoBean.produtos}" var="produto" >
            <div class="col-sm-2" style="text-align: center"> 
                <div class="panel panel-default" style="min-height: 300px; min-width: 250px;" >

                    <img src=" #{produto.imagem}" style="max-height: 150px; max-width: 150px;"/>
                    <p>
                    <h:form>
                        <p:commandLink actionListener="#{produtoBean.selecionarProduto(produto)}">
                            <f:viewParam name="produto" value="#{produto}" />
                            #{produto.nome}
                        </p:commandLink>
                    </h:form>
                    </p>
                    <p:outputLabel value="#{produto.preco}">

                        <f:convertNumber pattern="R$ 0.00" />
                    </p:outputLabel>

                </div>
            </div>
            <div class="col-sm-1" style="text-align: center"> 
            </div>
        </ui:repeat>

    </ui:define>
</ui:composition>