<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:view contentType="text/html">
        <h:head>
            <meta charset="utf-8"/>
            <title>Oliveira Games - Go to Xtreme!</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <!-- Bootstrap styles -->
            <link href="assets/css/bootstrap.css" rel="stylesheet"/>
            <!-- Customize styles -->
            <link href="style.css" rel="stylesheet"/>
            <!-- font styles -->
            <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
            <link rel="shortcut icon" href="assets/ico/favicon.ico"/>
        </h:head>
        <h:body>

            <!-- Parte de cima do cabeçalho-->
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="topNav">
                    <div class="container">
                        <div class="alignR">
                            <a class="active" href="index.xhtml"> <span class="icon-home"></span> Home</a> 
                            <a href="#"><span class="icon-user"></span> Minha Conta</a> 
                            <a href="./cadastrarUsuario.xhtml"><span class="icon-edit"></span> Cadastre-se </a> 
                            <a href="#"><span class="icon-envelope"></span> Contato</a>
                            
                            <a href="./faces/carrinhoCompra.xhtml" class="icon-shopping-cart" onclick="pagina(carrinhoCompra.xhtml)"></a>
                            <c:if test="#{clienteBean.usuarioLogado == null}" >
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span> Login <b class="caret"></b></a>
                                    <div class="dropdown-menu">
                                        <h:form class="form-horizontal loginFrm">
                                            <div class="control-group">
                                                <p:inputText id="login" class="span2" placeholder="Email" value="#{clienteBean.cliente.login}" required="true"  />
                                            </div>
                                            <div class="control-group">
                                                <p:password id="senha" class="span2" placeholder="Senha" value="#{clienteBean.cliente.senha}"  label="senha" required="true" />
                                            </div>
                                            <div class="control-group">
                                                <label class="checkbox">
                                                    <input type="checkbox"/>Lembrar-me
                                                </label>
                                                <h:commandButton value="Enviar" class="shopBtn btn-block" action="#{clienteBean.validarCliente()}" />
                                            </div>
                                        </h:form>
                                    </div>
                                </li>
                            </ul>
                            </c:if>
                            <c:if test="#{clienteBean.usuarioLogado != null}" >
                                <h:form class="nav pull-right">
                                    Olá, #{clienteBean.usuarioLogado} <p:commandButton class="shopBtn" action="#{clienteBean.deslogarCliente()}" value="Sair" />
                                </h:form>
                            </c:if>
                        </div>
                    </div>
                </div>
            </div>

            <!--Parte de baixo do cabeçálho-->
            <div class="container">
                <div id="gototop"> </div>
                <header id="header">
                    <div class="row">
                        <div class="span4">
                            <h1>
                                <a class="logo" href="index.html">
                                    <iframe src="assets/Banner/banner.html" frameborder="0" style="margin:0;padding:0;border:none;background-color:transparent" allowtransparency="true" scrolling="no" width="900" height="90"></iframe>
                                </a>
                            </h1>
                        </div>
                    </div>   
                </header>


                <!--Seção de Navegação -->
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li class="active"><a href="index.xhtml">Home</a></li>
                                </ul>
                                <h:form>
                                    <div class="input-group" style="top: 25px;">
                                        <p:inputText id="procurar" placeholder="Pesquisar" class="active" value="#{produtoBean.produtoPesquisa}"/>
                                        <span class="input-group-btn">
                                            <h:commandButton actionListener="#{produtoBean.pesquisarProdutoNome()}" class="span2" value="Pesquisar" />
                                        </span>
                                    </div> 
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Conteúdo-->
                <div class="row">
                    <div id="sidebar" class="span3">
                        <div class="well well-small">
                            <ui:insert name="menu" />
                            </div>
                       
                            <div>
                            <h4>Ofertas</h4>
                            <ui:repeat   value="#{produtoBean.listarProdutos()}" var="produto" >
                                                
                                                <div class="span5" style="justify-content: center;">
                                                    <img src=" #{produto.imagem}" style="height: 150px; max-width: 200px;"/>
                                                    <p>
                                                        <h:form>
                                                            <p:commandLink actionListener="#{produtoBean.selecionarProduto(produto)}">
                                                                <f:viewParam name="produto" value="#{produto}" />
                                                                #{produto.nome}
                                                            </p:commandLink>
                                                        </h:form>
                                                    </p>
                                                    <p:outputLabel value="#{produto.preco}">
                                                        <f:convertNumber pattern="R$ 0.00" />
                                                    </p:outputLabel>
                                                    <a class="shopBtn" href="#" title="adicionar ao carrinho"><span class="icon-plus"></span></a>
                                                    <h:form>
                                                    </h:form>
                                                </div>
                                                
                                            </ui:repeat>
                                
                        </div>
                        <div class="well well-small" ><a href="#"><img src="assets/img/paypal.jpg" alt="payment method paypal"/></a></div>
                    </div>		

                    <div class="span9">
                        <div class="well np">
                            <div id="myCarousel" class="carousel slide homCar">
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img style="width:100%" src="assets/img/a.jpg" alt="bootstrap ecommerce templates"/>
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img style="width:100%" src="assets/img/b.jpg" alt="bootstrap ecommerce templates"/>
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item active">
                                        <img style="width:100%" src="assets/img/c.jpg" alt="bootstrap ecommerce templates"/>
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                            </div>
                        </div>

                        <!--Novos Produtos-->
                        <ui:insert name="conteudo" />
                        <!--Rodapé-->
                        <footer class="footer">
                            <div class="row-fluid">
                                <div class="span2">
                                    <h5>Sua Conta</h5>
                                    <a href="#">SUA CONTA</a><br></br>
                                    <a href="#">DADOS PESSOAIS</a><br></br>
                                    <a href="#">ENDEREÇOS</a><br></br>
                                    <a href="#">DESCONTOS</a><br></br>
                                    <a href="#">HISTÓRICO DE PEDIDOS</a><br></br>
                                </div>
                                <div class="span2">
                                    <h5>Informações Legais</h5>
                                    <a href="#">CONTATO</a><br></br>
                                    <a href="#">TERMOS E CONDIÇÕES</a><br></br>
                                    <a href="#">SOBRE NÓS</a><br></br>
                                </div>
                            </div>
                        </footer>
                    </div><!-- /container -->

                    <div class="copyright">
                        <div class="container">
                            <p class="pull-right">
                                <a href="#"><img src="assets/img/maestro.png" alt="payment"/></a>
                                <a href="#"><img src="assets/img/mc.png" alt="payment"/></a>
                                <a href="#"><img src="assets/img/pp.png" alt="payment"/></a>
                                <a href="#"><img src="assets/img/visa.png" alt="payment"/></a>
                            </p>
                            <span>Copyright &copy; 2017</span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
            <!-- Inseridos ao final do arquivo para um melhor desempenho -->
            <script src="assets/js/jquery.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/jquery.easing-1.3.min.js"></script>
            <script src="assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="assets/js/shop.js"></script>

        </h:body>
    </f:view>
</html>

